.footer-text {
  text-align: center;
  /* color: #868e96; */
  font-size: 15px;
  font-weight: 600;
  font-family: "Google Sans Regular";
  letter-spacing: 0;
  margin: 28px 0 18px;
}

.footer-div {
  padding: 8px 0 18px;
}
